Options +FollowSymLinks
RewriteEngine on
RewriteRule (.*)\.html$ index.php?word=$1	
RewriteRule ^sitemap\.xml/?$ sitemap.php
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]